<div class='search-flex'>

  <div id='music-container' class='search-container'>

    <div class='music-content'>
      {{! music page }}
      <a href='/music/{{this.id}}'>
        <img class='album-cover' src='{{this.link_photo}}' alt='' />
      </a>
      <div class='music-info'>
        <a class='bold700 font-size28' href='/music/{{this.id}}'>
          {{this.name}}
        </a><br />

        {{!Artist profile }}
        <a class='font-size24 regular400' href='#'>
          {{this.artist}}
        </a>
        <div class='likes-container'>

          <span class='favorite-symbol material-symbols-outlined'>
            favorite
          </span>
          <h2 class='font-size18 regular400'>{{!qtd likes}} 69 likes</h2>
        </div>
      </div>

    </div>
  </div>
</div>